[Unit]
Description=A scrobbler for internet radio stations, like SOMA FM

[Service]
Type=simple
ExecStart=/usr/local/bin/radioscrobbler
User=mpdscribble
Restart=on-failure

[Install]
WantedBy=multi-user.target
