[Unit]
Description=Multi-source and multi-destination audio scrobbler

[Service]
Type=simple
Environment="RADIOSCROBBLER_CONFIG=/root/.config/radioscrobbler/radioscrobbler.conf"
ExecStart=/usr/local/bin/radioscrobbler

[Install]
WantedBy=multi-user.target
